
body{

    max-height: 100vh;
    background-image: url(./bg.jpeg);
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    min-width: 450px;

   
    
}

header{

    display: flex;
    justify-content: space-around;

}

nav{
    display: flex;
    justify-content:space-between;
    position: relative;
    right: 3%;
    margin-top: 10px;
}
nav li {
    list-style: none;
    color: #fff;
    padding-right: 10px ;
    font-size: small;
    
    
}

nav li:hover {
    cursor: pointer;
    text-decoration: underline;
}
#searchBar{
    position: relative;
    left: 3%;
}

#Search{
    background: none;
    border-color: #fff;
    border: 1px #fff solid;
    width: 200px;
    margin-top: 10px;
    color: #fff;
    
    
}

#searchBar img{
    width: 10px;
    height: 40px;
    position: absolute;
    right: 10px;
    
}
#searchBar img:hover{
    cursor: pointer;
    
}





.container{
    width: 800px;
    height: 400px;
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(245, 232, 232, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.OurSection{
    height: 100%;
    position: relative;
    left: 4%;
    margin-left: 10px;
    transition: left 0.7s ease ;
}

.OurSection.active{
    position: relative;
    left: 50%;
   

}


.OurSection h1, h2, h4,p {
    color: #fff
}
.OurSection h1{
    position: relative;
    margin-bottom: 70px;
    right: 60px;
    top: 5px;
    font-size: 40px;
}
.OurSection h2{
    position: relative;
    left: 6%;
    font-size: 35px;
}
.OurSectionion h4{
    position: relative;
    left: 2px;
    bottom: 20px;
    margin-bottom: 0px;
    font-size: 20px;
}
.OurSection #p1
{
    position: relative;
    font-size: 10px;
    right: 30px;
}

.OurSection #p2{
    position: relative;
    font-size: 10px;
    left: 25px;

}

.accountNetwok {
    position: relative;
    left:20%;
    top: 5px;
}
.accountNetwok img {
    width: 15px;
    height: 15px;
    margin-right: 10px;

}
.accountNetwok img:hover{
    cursor: pointer;
}






.signIn{
    position: relative;
    left: 10.4%;
    width: 45%;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(0px);
    background: linear-gradient(#0e0e0e87, #0601019a);
    -webkit-backdrop-filter: blur(0px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    
}

.signIn.active{
    display: none;
    

}

.signIn h4{
    position: relative;
    left: 38%;
    font-size: 28px;
    font-size: 28px;
    top: 20px;
    margin-bottom: 15%;


}

.signIn input{
    position: relative;
    left: 30px;
    background: none;
    border-color: #fff;
    border: 1px #fff solid;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 80%;
    height: 30px;
    margin-top: 10px;
    color: #fff;
    
    
}

.signIn img{
    position: relative;
    top: 5px;
    width: 15px;
    height: 15px;
}

.randForgot{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.randForgot input{
    position: relative;
    bottom: 2px;
    width: 15px;

}
.randForgot  p {
    position: relative;
    left: 9%;
    font-size: 10px;
    font-weight:normal;
}

.randForgot a{
    position: relative;
    left: 40%;
    text-decoration: none;
    color: #fff;
    font-size: 10px;
    font-weight: normal;
    
}
.randForgot a:hover{
    text-decoration: underline;
    color: #aa2020fa;
}


.signIn button{
    position: relative;
    left: 13%;
    top: 10px;
    width: 75%;
    height: 30px;
    background: #ef4a4abd;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #777;
    color: #fff;
}
.signIn button:hover{
    background: #db7272ac;
    cursor: pointer;
}

.signUpCall{
    position: relative;
    top: 15px;
    display: flex;  
    justify-content: center;
    align-items: center;

}

.signUpCall p{
    position: relative;
    left: 1%;
    font-size: 10px;
    font-weight:normal;
}
.signUpCall a{
    position: relative;
    left: 5%;
    font-size: 10px;
    color: #fff;
    
}







/* Sign Up form */




.signUp{
    position: relative;
    left: 10.4%;
    width: 45%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(0px);
    background: linear-gradient(#0e0e0e87, #0601019a);
    -webkit-backdrop-filter: blur(0px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    

}

.signUp.active{
    display: block;
    position: relative;
    left: -45%;
    transition: left 0.7s ease ;

}

.signUp h4{
    position: relative;
    left: 38%;
    font-size: 28px;
    font-size: 28px;
    top: 20px;
    margin-bottom: 15%;


}

.signUp input{
    position: relative;
    left: 30px;
    background: none;
    border-color: #fff;
    border: 1px #fff solid;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 80%;
    height: 30px;
    margin-top: 10px;
    color: #fff;
    
    
}

.signUp img{
    position: relative;
    top: 5px;
    width: 15px;
    height: 15px;
}


.privacy{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.privacy input{
    position: relative;
    bottom: 2px;
    width: 15px;

}
.privacy  p {
    position: relative;
    left: 9%;
    font-size: 10px;
    font-weight:normal;
}

.privacy a{
    position: relative;
    left: 40%;
    text-decoration: none;
    color: #fff;
    font-size: 10px;
    font-weight: normal;
    
}
.privacy a:hover{
    text-decoration: underline;
    color: #aa2020fa;
}

.signUp button{
    position: relative;
    left: 13%;
    top: 10px;
    width: 75%;
    height: 30px;
    background: #4aef63bd;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #777;
    color: #fff;
}
.signUp button:hover{
    background: #99cda19c;
    cursor: pointer;
}

.signInCall{
    position: relative;
    top: 15px;
    display: flex;  
    justify-content: center;
    align-items: center;

}

.signInCall p{
    position: relative;
    left: 1%;
    font-size: 10px;
    font-weight:normal;
}
.signInCall a{
    position: relative;
    left: 5%;
    font-size: 10px;
    color: #fff;
    
}

@media(max-width:800px)
{

    .container{
         width: 400px;
         height: 400px;
         border: 1px black solid;
         display: flex;
         justify-content: center;
         align-items: center;
         position: absolute;
         top: 50%;
         left: 50%;
        transform: translate(-50%, -50%);
        backdrop-filter: blur(0px);
          -webkit-backdrop-filter: blur(0px);
          border: 1px solid rgba(245, 232, 232, 0.1);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        }

        .OurSection{
        display: none;

        }
        
        .OurSection.active{
            display: none;
           
        
        }

        .signIn{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 70%;


            
        }
        

        .signUp{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 70%;
     
        }
        
        .signUp.active{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 70%;
        }
   
      
 
          
}